In [7]:
from fastapi import FastAPI
import pandas as pd
from sqlalchemy import create_engine
from fastapi.routing import Request
import json

app = FastAPI()

# db_url = "postgresql://marin:marin@10.119.113.3:5432/postgres"
db_url = "postgresql://marin:marin@35.247.250.121:5432/postgres"
perigo_spir_id = 0.005

################################### Funções auxiliares ######################################

def insert_dataframe_to_sql(dataframe: pd.DataFrame, table_name: str):
    # Cria uma conexão com o banco de dados
    engine = create_engine(db_url)
    conn = engine.connect()

    # Insere o DataFrame na tabela
    dataframe.to_sql(name=table_name, con=conn, if_exists="append", index=False)
    # Fecha a conexão
    conn.close()
    engine.dispose()


def read_table(columns: list, table_name: str, limit: int = ""):
    # Cria uma conexão com o banco de dados
    if limit != "":
        limit = "LIMIT {}".format(limit)
    colunas = ", ".join(columns)
    engine = create_engine(db_url)
    conn = engine.connect()
    sql = """
    select {} from {} ORDER BY time DESC {}
    """.format(
        colunas, table_name, limit
    )
    # Insere o DataFrame na tabela
    df = pd.read_sql(sql, con=conn)
    # Fecha a conexão
    conn.close()
    engine.dispose()

    return df

In [8]:
df = read_table(
    ["time", "state", "latitude", "longitude", "lgamma_dose_rate"], "spirid"
)
df.rename(
    columns={
        "time": "Time",
        "state": "State",
        "latitude": "Latitude",
        "longitude": "Longitude",
    },
    inplace=True,
)
df["TipoLeitor"] = "Radiologico"
df["Leitor"] = "SpirId"
df["Danger"] = df["lgamma_dose_rate"] > perigo_spir_id
df = df[
    ["Time", "TipoLeitor", "Leitor", "State", "Latitude", "Longitude", "Danger"]
]
df["Time"] = pd.to_datetime(df["Time"])

# Crie colunas para representar o mês e o ano de cada data
df['mes'] = df["Time"].dt.month
df['ano'] = df["Time"].dt.year

# Agrupe o DataFrame por mês e ano e calcule a quantidade total de linhas e a quantidade de linhas com danger True em cada mês e ano
grupo_mes_ano = df.groupby(['ano', 'mes'])['Danger'].agg(total_linhas='size', danger_true='sum')

# Calcule a porcentagem de linhas com danger True em cada mês e ano
grupo_mes_ano['porcentagem_danger_true'] = (grupo_mes_ano['danger_true'] / grupo_mes_ano['total_linhas']) * 100

In [16]:
grupo_mes_ano

          total_linhas  danger_true  porcentagem_danger_true
ano  mes
2017 4           13653        13639                99.897458

In [19]:
grupo_mes_ano.reset_index(inplace=True)
grupo_mes_ano['data'] = grupo_mes_ano['ano'].astype(str) + '_' + grupo_mes_ano['mes'].astype(str)

In [20]:
grupo_mes_ano

,index,ano,mes,total_linhas,danger_true,porcentagem_danger_true,ano_mes,data
0,0,2017,4,13653,13639,99.897458,2017_4,2017_4

In [4]:
# df = read_table(['time','state','latitude','longitude', 'lgamma_dose_rate'],'spirid',100)
df.rename(columns={'time':'Time','state':'State','latitude':'Latitude','longitude':'Longitude'},inplace=True)
df['TipoLeitor'] = 'Radiologico'
df['Leitor'] = 'SpirId'
df['Danger'] = df['lgamma_dose_rate'] > 0.005
df = df[['Time', 'TipoLeitor', 'Leitor', 'State', 'Latitude', 'Longitude', 'Danger']]
df['Time'] = pd.to_datetime(df['Time'])

NameError: name 'df' is not defined

In [3]:
df['mes'] = df["Time"].dt.month
df['ano'] = df["Time"].dt.year

# Agrupe o DataFrame por mês e ano e calcule a quantidade total de linhas e a quantidade de linhas com danger True em cada mês e ano

NameError: name 'df' is not defined

In [18]:
grupo_mes_ano.reset_index(inplace=True)
grupo_mes_ano['data'] = grupo_mes_ano['ano'].astype(str)  + grupo_mes_ano['mes'].astype(str) + '01'

# Converte a coluna para o tipo datetime
grupo_mes_ano["data"] = pd.to_datetime(grupo_mes_ano["mes"], format='%Y%m%d')
# Remova a coluna 'danger' e redefina o índice do DataFrame
grupo_mes_ano = grupo_mes_ano[["data","porcentagem_danger_true","danger_true","total_linhas"]]